body {
  background-color: white;
  font-family: 'Poppins', sans-serif;
  color: black;
}

.sidebar-img {
  width: 200px;
}

.body {
  margin-left: 300px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: url('../images/Image_1.png');
}

.academy-body {
  margin-left: 300px;
  background-attachment: fixed;
  background-size: cover;
  background-position: center;
  background-image: url('../images/long-island-golf1.jpg');
}

.header {
  background: rgba(13, 16, 15, 0.3);
  min-height: 100%;
  min-width: 100%;
  display: table;
}

.academy-header {
  margin-bottom: -25px;
}

.container {
  display: table-cell;
  vertical-align: middle;
}

.description {
  color: white;
  margin-left: 15%;
  margin-right: 15%;
  padding: 2em;
  text-align: center;
}

.description h1 {
  font-family: 'New Athletic M54';
  font-size: 3.5em;
}

.title h1 {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  color: #95ad66;
  font-family: 'New Athletic M54';
  font-size: 3.5em;
}

.description p {
  font-size: 20px;
  line-height: 1.5;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.description button {
  border: 1px solid black;
  background: black;
  color: #fff;
  border-radius: 25px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

a,
a:hover,
a:focus {
  color: inherit;
}

#sidebar {
  position: fixed;
  min-width: 300px;
  max-width: 300px;
  min-height: 100vh;
  background: black;
  transition: all 0.3s;
  text-align: center;
}

#sidebar ul li a {
  font-family: 'New Athletic M54';
  color: grey;
  padding: 20px;
  font-size: 1.7em;
  display: block;
}

#sidebar ul li a:hover {
  text-decoration: none;
  color: #95ad66;
}

#sidebar ul li a.active {
  color: #95ad66;
}

#sidebar.active {
  margin-left: -250px;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

div .service-icon {
  margin-top: 40px;
  text-align: center;
}

figure {
  width: 45%;
}

figcaption {
  margin-top: 20px;
}

.nav-tabs {
  border-bottom: 0px !important;
}

.nav-item {
  background-color: grey;
  color: white;
  margin: 5px;
}

@font-face {
  font-family: 'New Athletic M54';
  src: local('New Athletic M54'), url('New Athletic M54.woff') format('woff');
}
